@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.home{
   
    padding: 10%;
    padding-top: 2%;
    font-size: 20px;
    color: white;
}
#home-text{
  margin-right: 35%;
}
#big-title{
  font-weight: 900;
  font-family: 'Pacifico', cursive;
  font-size: 15vmin;
  margin-bottom: 0;
  margin-top: 0;
  background-image: linear-gradient(90deg, rgba(230,130,103,1)  0%, rgba(253, 159, 150) 56%,  rgb(230,130,103,1) 100%);
  color: transparent;
  -webkit-background-clip: text;
  animation: move 1s infinite;
}
/* @keyframes move {
  50% {
    background-image: linear-gradient(262deg, rgba(203, 153, 126) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
  }
} */

#describe{
  margin-top: 0;
  font-weight: 900;
  font-size: 150%;
}
#home-container{
padding-left: 10%;
padding-right: 10%; 
}

#site-description{
  font-weight: 900;
  margin-top: 0;
}
#linkinsign{
  color: rgb(176, 204, 192);
  text-decoration: none;
}

.button-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
}
.butt-div{
  width: 28%;
  margin-right: -5%;
  margin-left: -5%;
}
#home-loglink{
  color: white;
  font-weight: 900;
  background-color: rgb(176, 204, 192);
  text-decoration: none;
  padding: 7% 13%;
	border-radius: 85px;
  
}
#home-loglink:hover{
  background-color: rgba(176, 204, 192, 0.405);
color: rgba(0, 0, 0, 0.725);
}
#home-reglink{
  color: white;
  font-weight: 900;
  background-color: rgb(176, 204, 192);
  text-decoration: none;
  padding: 7% 13%;
	border-radius: 85px;
}
#home-reglink:hover{
  background-color: rgba(176, 204, 192, 0.405);
color: rgba(0, 0, 0, 0.725);
}
