#navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
   
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(237, 219, 210, 0.507);
    padding-left: 2%;
    padding-right: 4%;
}
#links{
    width: 20%;
    align-items: center;
    justify-content: center;
    
    
}
#quiz-reg-butt{
    width: 100%;
}
#quiz-nav-butt{
    width: 100%;
}
.quiz-nav-butt{
   
    padding: 10% 18%;
	border-radius: 85px;
    background-color: rgb(176, 204, 192);
    border: none;
    color: white;
   font-weight: 900;
   font-size: 15px;
}
.quiz-nav-butt:hover{
background-color: rgba(176, 204, 192, 0.405);
color: rgba(0, 0, 0, 0.725);
cursor: pointer;
}
.quiz-reg-butt{
    padding: 10% 18%;
	border-radius: 85px;
    background-color: rgb(176, 204, 192);
   border: none;
   color: white;
   font-weight: 900;
   font-size: 15px;
   
}
.quiz-reg-butt:hover{
    background-color: rgba(176, 204, 192, 0.405);
    color: rgba(0, 0, 0, 0.725);
    cursor: pointer;
    }
#logodiv{
    width: 25%;
}
#logoNav{
    width: 40%;
    display: flex;
    transition: all .2s ease-in-out; 
}
#logoNav:hover{
    transform: scale(1.1);
}

