#smallnavbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin-left: 0;
    background-color: #d69c8cd9;
    padding: 1.5%;
    position: sticky;
    top: 0;
}
#links {
    display: flex;
   gap: 5%;
}
#smallnav-link{
    color: rgba(0, 0, 0, 0.734);
    text-decoration: none;
    font-weight: 600;
}
#smallnav-link:hover{
    color: rgb(0, 0, 0);
    font-weight: 900;
}